@model IEnumerable<WebBanHang.Models.Product>

@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sản phẩm</h2>
<div class="section group">
    @foreach (var item in Model)
    {
        <div class="grid_1_of_4 images_1_of_4">
            <a href="Details?id=@item.Id">
                <img src="../../Content/Products/images/feature-pic1.jpg" alt=""/>
            </a>
            <h2>@item.Name </h2>
            <div class="price-details">
                <div class="price-number">
                    <p><span class="rupees">$@item.Price</span></p>
                </div>
                <div class="add-cart">
                    <h4><a href="preview.html">Add to Cart</a></h4>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        
    }
</div>
